<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Products</h2>

<table>
  <tr>
    <th>Product</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr>
    <td>Camera Nixon</td>
    <td>D3050</td>
    <td>$500</td>
  </tr>
  <tr>
    <td>Camera Canon</td>
    <td>200D</td>
    <td>$750</td>
  </tr>
  <tr>
    <td>Camera Sony</td>
    <td>Alpha a7</td>
    <td>$1000</td>
  </tr>
  
</table>

</body>
</html>
